{%- if work.company ==  "Ecopetrol ICP" -%}<a href="https://www.ecopetrol.com.co/wps/portal/es/ecopetrol-web/nuestra-empresa/innovacion-tecnologia/inicio" class="card-footer-item" target="_blank" >Ecopetrol</a>{% endif %}
{%- if work.company ==  "CTAS" -%}<a href="http://corporacionctas.blogspot.com/" class="card-footer-item" target="_blank" >Corporación CTAS</a>{% endif %}
{%- if work.company ==  "Alcaldía Municipal de Toledo N de S." -%}<a href="http://www.toledo-nortedesantander.gov.co/" class="card-footer-item" target="_blank" >Alcaldía de Toledo</a>{% endif %}
{%- if work.company ==  "Gobernación N de S" -%}<a href="http://www.nortedesantander.gov.co/" class="card-footer-item" target="_blank" >Gobernación N de S</a>{% endif %}

