
<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col">
      {%- if site.email -%}
      <ul>
        <li>Contact: </li>
        <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
      {%- endif -%}
      {%- include social.html -%}
    </div>

    <div class="footer-col-wrapper flex-container">
      <div class="footer-col ">
        <ul class="contact-list">
          <li class="p-name">
            {{ site.data.translations.headerTitle[page.lang] }}
          </li>
        </ul>
      </div>

      

    </div>
    <div class="footer-col-wrapper flex-container">
      <div>  
        <p>{{- site.data.translations.description[page.lang] -}}</p>
      </div>
    </div>
  </div>
  <hr>
</footer>
