<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col">
      {%- if site.email -%}
      <ul>
        <li>Contact: </li>
        <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
      {%- endif -%}
      {%- include social.html -%}
    </div>
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper flex-container">
      <div class="footer-col ">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            
        </ul>
      </div>

      

    </div>
    <div class="footer-col-wrapper flex-container">
      <div>  
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>
  <hr>
</footer>
