{% if page.nav-order %}
{% assign p=site.pages | where:"nav-order", page.nav-order | sort: 'lang' %}
{% endif %}

{% if page.post_id %}
{% assign p=site.posts | where:"post_id", page.post_id | sort: 'lang' %}
{% endif %}

<div class="languages">
  <div>
    <ul>
      {% if page.lang == 'es' %}
      <li>
        <a href="{{ p[0].url | default: 'en' }}">
          <img src="{{ site.baseurl}}/assets/images/english.jpg" alt="english-language" />
          EN
        </a>
      </li>
      {% else %}

      <li>
        <a href="{{ p[1].url | default: 'es' }}">
          <img src="{{ site.baseurl}}/assets/images/spanish.jpg" alt="spanish-language" />
          ES
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
