@import './variables';

form{
  background-color: $grey-color-light;
  border: 1px solid $grey-color;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  button{
    padding: 0.7rem 3rem;
    margin: 1rem auto 0.5rem auto;
  }
}

.form-group{
  display: block;
  padding: 1rem;
  label{
    font-weight: 600;
    
    float: left;
  }
  input,
  textarea{
    float: right;
    width: 60%;
  }
}