form{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  button{
    padding: 0.7rem 3rem;
    margin: auto;
  }
}

.form-group{
  display: block;
  padding: 1rem;
  label{
    font-weight: 600;
    
    float: left;
  }
  input,
  textarea{
    float: right;
    width: 60%;
  }
}