@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #7ae22a !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    900px !default;

$on-palm:          600px !default;
$on-laptop:        900px !default;
$on-desktop:       1200px;
// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting";

// Bulma Framework
@import 
  "bulma/utilities/_all",
  "bulma/base/_all",
  "bulma/elements/_all",
  "bulma/components/_all",
  "bulma/grid/_all",
  "bulma/layout/_all";


/////////////////////////////////////
// HEADER ////////////////////////////
//////////////////////////////////////
body{
  min-width: 350px;
}

#profile-pic{
  max-height: 75px;
  border-radius: 50%;
  
}

.pull-left {
  float: left;
}

.is-pulled-right {
  float: right;
}

.header-content{
  text-align: center;
  h1{
    overflow: auto;
  }
  .site-title{
    float: none;
  }
}
.site-header{
  position: sticky;
  top: -160px;
  background: white;
}

/////////////////////////////////////
// HEADER ////////////////////////////
//////////////////////////////////////

/////////////////////////////////////
// CARDS ////////////////////////////
//////////////////////////////////////

.card-header{
  height: 65px;
  overflow: hidden;
}

.card-header-title {
  margin: 0px;
}

.card-footer-item{
  margin: 0;
  font-size: 0.8em;
}
.card-footer a:first-of-type{
  flex-basis: 65%;
}
.card-content{
  position: relative;
  padding: 0;
  a{
    padding: 0;
    border: none;
    display: block;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  img{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
  }
  span{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-color:rgba(250,250,250,0.6);
    border: 1px solid rgba(250,250,250,0.6);
    padding: 2px;
  }
  .figure{
    z-index: 1;
  }
  figcaption{
    height: 63px;
    display: flex;
    align-items: center;
  }
}

.svg-icon{
  padding: 0;
}
.flex-container {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
}

.post-content .figure{
  margin: 15px;

}

figure>img{
  max-width: 75%;
  margin: auto;
}

iframe{
  width: 560px;
  height: 460px;
  margin: auto;
  display: block;
}

@media screen and (min-width: 450px) {
  .column.is-one-third, .column.is-one-third-tablet {
      width: 50%;
      flex: none;

  }
  .columns {
      display: flex;
  }
}

@media screen and (min-width: 600px) {
  .column.is-one-third, .column.is-one-third-tablet {
      width: 33.33%;
      flex: none;

  }
  .columns {
      display: flex;
  }
}


@media screen and (min-width: 1088px){
  .container {
      max-width: 960px;
      width: auto;
  }
}
