---
layout: default
---
<div class="home">
  {%- if page.title -%}
  <header class="post-header">
    <h1 class="page-heading">{{ page.title }}</h1>
  </header>
  {%- endif -%}

  {{ content }}

  <br>
  {% assign portfolio=site.portfolio | where:"lang", page.lang | sort: 'port_id' %}
  {%- if portfolio.size > 0 -%}
    <h2 class="post-list-heading">{{ site.data.translations.portfolio[page.lang]}}</h2>
    <br>
    <div>
      <div>
        <div class="columns is-multiline">
          {%- for work in portfolio -%}
          <div class="column is-half is-mobile">
            <div class="card">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <div class="card-content">
                <span class="post-meta">{{ work.date | date: date_format }}</span>
                <figure class="image">
                  {%- if work.thumb -%}
                  <a href="{{ work.url | relative_url }}">
                    <img src="{{ site.url }}/{{ work.thumb }}" alt="work thumb">
                  </a>
                  {%- else -%}
                  <img src="{{ url }}/assets/images/LogoICT.jpg">
                  {%- endif -%}
                  {%- if work.description -%}
                  <figcaption class="text_elipsis">{{ work.description }}</figcaption> 
                  {%- endif -%}
                </figure>
              </div>
              <footer class="card-footer"> 
                {% include liveVersions.html %}
                {% include repos.html %}
                <a href="{{ work.url | relative_url }}" class="card-footer-item">{{ site.data.translations.ver-overview[page.lang] }}</a>
              </footer>

            </div>
          </div>
          {%- endfor -%}

        </div>

      </div>
    </div>
    <br>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
</div>
