---
layout: default
---

<div class="home">

  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

<hr>

  {%- if site.portfolio.size > 0 -%}
    <h2 class="post-list-heading">Portafolio</h2>
    <div>
      <div class="container">
        <div class="columns is-multiline">
          {%- for work in site.portfolio -%}
          <div class="column is-one-third">
            <div class="card">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <header class="card-header">
                <p class="card-header-title">
                  <span>{{ work.position | escape }}</span>
                  
                  <span class="is-pulled-right">
                    <span class="post-meta">{{ work.date | date: date_format }}</span>
                  </span>
                </p>
              </header>
              
              <div class="card-content">
                <figure class="image">
                  {%- if work.thumb -%}
                  <a href="{{ work.url | relative_url }}" class="card-footer-item">
                    <img src="{{ work.thumb }}" alt="work thumb">
                  </a>
                  {%- else -%}
                  <img src="{{ site.baseurl}}/assets/images/LogoICT.jpg">
                  {%- endif -%}
                  {%- if work.description -%}
                  <figcaption>{{ work.description }}</figcaption> 
                  {%- endif -%}
                </figure>
                
              </div>
              <footer class="card-footer"> 
                {% include companies.html %}
                <a href="{{ work.url | relative_url }}" class="card-footer-item">Ver</a>
              </footer>

            </div>
          </div>
          {%- endfor -%}

        </div>

      </div>
    </div>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>

